/* 
style guide: 

background: #3c3e40
hot pink: #e3056c
darker grey: #222
*/

/* General Layout Styles */
.main-container {
    display: flex;
    height: 100vh;
    background: #3c3e40;
    color: white;
  }
  
  .sidebar {
    width: 20%;
    padding: 20px;
    background-color: #222;
    color: white !important;
  }
  
  .sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .icon {
    font-size: 30px;
    margin-bottom: 30px;
  }
  
  .nav-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-decoration: none;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    gap: 15px;
    color: white !important;
    cursor: pointer;
    text-decoration: none;
  }
  
  .nav-item:hover {
    color: #e3056c !important;
    text-decoration: none;
  }
  
  .post-button {
    background-color: white;
    color: #e3056c;
    font-weight: bold;
    padding: 8px;
    border-radius: 20px;
    width: 100%;
    border: none;
    transition: background-color 0.3s;
    margin-top: 40px;
  }
  
  .post-button:hover {
    background-color: #e6e6e6;
  }

/* Nav Bar */
.navbar-custom {
  background-color: white;
  border-bottom: 1px solid #eee;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.navbar-custom .nav-link {
  color: #e3056c;
  font-weight: bold;
  transition: color 0.3s ease;
  margin-left: 20px;
}

.navbar-custom .nav-link:hover {
  color: #3c3e40;
}