/* bookmarksPage.css */

/* General Layout Styles */
.bookmarks-container {
  padding: 20px;
  color: white;
  background-color: #3c3e40; 
  min-height: 100vh;
  }
  
  .bookmarks-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .bookmark-card {
    background-color: #222;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    backdrop-filter: blur(10px);
  }
  
  .bookmark-username {
    font-size: 1.2rem;
    font-weight: bold;
    color: #e3056c;
  }
  
  .bookmark-content {
    margin-top: 10px;
    font-size: 1rem;
    color: white;
  }
  
  .bookmark-media {
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
  }
  
  .bookmark-video {
    max-width: 100%;
    border-radius: 10px;
  }
  
  .no-bookmarks-message,
  .no-login-message {
    text-align: center;
    font-size: 1.1rem;
    color: #fff;
    margin-top: 20px;
  }
  
  /* Add hover and transition effects for post */
  .bookmark-card:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }
  